<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Troubadour</title>
<script src="static/jquery-1.5.2.js"></script>
<script src="static/jquery.cookie.js"></script>
<script src="static/jquery.timers-1.2.js"></script>
<script src="static/homura.js"></script>
<link rel="stylesheet" type="text/css" href="static/homura.css" />
</head>

<body>
<div id="top-container">
  <div id="statusbar">
    <div id="status-left">
      <img id="twitter-icon" src="static/twitter-on.gif" />
      <img id="sina-icon" src="static/sina-on.gif" />
      <img id="qq-icon" src="static/qq-on.png" />
    </div>
    <div id="status-right">
    </div>
    <div id="status-middle">
      <div id="nav-container">
        <ul id="nav">
          <li><a herf="#" onclick="content_switch('Timeline')">Timeline</a></li>
          <li><a herf="#" onclick="content_switch('Mentions')">Mentions</a></li>
          <li><a herf="#">Sign out</a></li>
          <li><a herf="#"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="login-tips">
      <div id="tips-arr"><image src="static/arr2.gif" /></div>
      <div id="tips-main">Click ICONS to sign in / sign out</div>
  </div>
  <div id="message-bar-container">
    <div id="message-bar-c1">
      <div id="message-bar">
        <span id="message"></span> 
        <a href="javascript: void(0)" onclick="hide_message_bar()">Hide</a>
      </div>
    </div>
  </div>
</div>
<div id="signin-container">
  <div id="signin-main">
      <div><span id="signin-name"></span>&nbsp;sign in</div>
      <hr />
      <form id="signin_form">
        <div id="direct-signin">
          <div>Username</div>
          <div><input id="user" class="textbox" type="text" /></div>
          <div>Password</div>
          <div><input id="passwd" class="textbox" type="password" /></div>
          <div class="float-right"><input type="button" value="Cancel" class="white-button" onclick="hide_signin_box()" /></div>
          <div class="float-right" ><input name="" type="submit" value="Sign In" class="blue-button" onclick="md5passwd()" /></div>
          <div class="clear"></div>
        </div>
        <div id="goto-signin">
          <div class="float-right"><input type="button" value="Cancel" class="white-button" onclick="hide_signin_box()" /></div>
          <div class="float-right" ><input name="" type="submit" value="Go to Sign in page" class="blue-button" /></div>
          <div class="clear"></div>
        </div>
      </form>
  </div>
</div>
<div id="confirm-container">
  <div id="confirm-main">
      <span id="confirm-text"></span>
      <div class="float-right"><input type="submit" value="Cancel" class="white-button" onclick="hide_confirm_box()" /></div>
      <div class="float-right"><input id="confirm-ok" type="submit" value="OK" class="blue-button"  /></div>
  </div>
</div>
<div id="page-container">
  <div id="main-content">
    <div id="logo"><image src="static/logo.png" /></div>
    <div id="main-arr"><image src="static/arr2.gif" /></div>
    <div id="white-bg">
      <div><textarea style="" name="textarea" id="textarea" cols="45" rows="5"></textarea></div>
      <div id="loading-icon"><img src="static/loading.gif" /></div>
      <div><input class="blue-button"id="submit-button" type="submit" value="&nbsp;Tweet&nbsp;" style=" " onclick="return new_note()" /><p class="clear"></p></div>
      <div id="page-name">Timeline</div>
      <hr />
      <div id="new-message" onclick="refresh_timeline()">
        <span id="new-message-number"></span>&nbsp;new messages.
      </div>
      <div id="notes">
      </div>
      <div class="foot">&copy;2011 ling0322</div>
    </div>
  </div>
</div>

</body>
</html>
